.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fff;
    padding: 6px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Ensure the navbar is above other elements */
    overflow: hidden;
    /* Hide any overflow */
    position: fixed;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
    /* Transition effect for smoother color change */
}

.nav-links li a:hover {
    background-color: #aa2e25;
    padding: 5PX 8px;
    border: none;
    
}

img {
    width: 100px;
    /* Adjust size as needed */
    height: 60px;
    /* Adjust size as needed */
}