/* Record.css */
.approved {
    background-color: yellow;
}

.rejected {
    background-color: red;
}
/* Record.css */
.disbursed {
    background-color: green;
}
.hold {
    background-color: pink;
}

.drop {
    background-color: purple;
}

/* Record.css */
.text-white {
    color: white;
}

.record-btn {
    background-color: #324090;
    padding: 10px;
    border: none;
    border-radius: 50px;
    width: 7%;
    margin-bottom: 10px;
    color: white;
}
.record-btn:hover {
    background-color: #180d2b;
    color: white;
}

.record-err {
    color: red;
    margin-bottom: 5px;
    font-size: x-large;
}

.track-rec select {
    margin-top: 30px;
    width: 20%;
    margin-right: 10px;
    border: 1px solid black;
}

/* .track-rec h1 {
    margin-top: 70px;
    text-align: center;
    color: white;
} */

.login-form button {
    background-color: #f44336;
    color: white;
    width: 50px;
    border-radius: 50px;
    font-weight: bold;
}

.login-form {
   
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #5f7785;
    border-radius: 20px;
    margin-top: 120px;
}

.login-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form select,
.login-form input[type="text"],
.login-form input[type="password"],
.login-form button {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid white;
}

.login-form button {
    background-color: #aa2e25;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    border: none;
}

.login-form button:hover {
    background-color: #661b16;
}

.record-err {
    color: #e50000;
    margin-top: 10px;
}

.track-data {
    margin-top: 80px;
}

.track-data h1 {
    text-align: center;
    margin-bottom: 5px;
}